#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace
}

h1 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

#textNotFound {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace
}